.MenuItem{
 display: flex;
 flex-direction: column;
 width: 100%;
 margin: 1rem 0;
}
.MenuItem-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .MenuItem-name{
    flex: 1;
    justify-content: flex-start;
} 

.MenuItem-tags{
    margin: 0.2rem 0;
    width: 100%;
}
.MenuItem-dash{
    width: 90px;
    height: 1px;
    background-color: var(--color-golden);
    margin: 0 1rem;
}
.MenuItem-price{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}