.gallery{
  display: flex;
  flex-direction: row;
  background-color:  var(--color-black);
  padding: 4rem 0 4rem 6rem;
}
.gallery-content{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
    min-width: 500px;
    padding-right: 2rem;
}

.gallery-images{
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: 50%;
    position: relative;
}
.gallery-images-container{
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery-images-container::-webkit-scrollbar{
    display: none;
}

.gallery-images-card{
    position: relative;
    min-width: 301px;
    height: 447px;
    margin-right: 2rem;
}
.gallery-images-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 0.5s ease;
}
.gallery-images-card img:hover{
   opacity: 0.5;
  
}
.gallery-images-card:hover .gallery-instagram-icon{
    opacity: 1 !important;
    
   
 }
 

.gallery-instagram-icon{
    position: absolute;
    color: #fff;
    font-size: 2rem;
    opacity: 0;
    transition: 0.5s ease;
    cursor: pointer;
}
.gallery-images-arrows{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: absolute;
    bottom: 45% ;
}

.gallery-arrow-icon{
    color: var(--color-golden);
    cursor: pointer;
    background-color: var(--color-black);
    border-radius: 5px;
    font-size: 2rem;
}
.gallery-arrow-icon:hover{
    color: var(--color-white);
}


@media screen and (min-width: 2000px) {
    .gallery-content button {
        margin-top: 2rem;
    }

    .gallery-content {
        min-width: 1000px;
        padding-right: 4rem;
    }

    .gallery-images-card {
        min-width: 400px;
        height: 547px;
    }
}

@media screen and (max-width: 1150px) {
    .gallery {
        flex-direction: column;
    }

    .gallery-images {
        max-width: 100%;
        margin: 5rem 0;
    }
}

@media screen and (max-width: 850px) {
    .gallery {
        padding: 4rem 0 4rem 4rem;
    }
}

@media screen and (max-width: 650px) {
    .gallery {
        padding: 4rem 0 4rem 2rem;
    }  
    
    .gallery-content {
        min-width: 100%;
    }

    .gallery-images-card {
        min-width: 240px;
        height: 320px;
    }
}

